@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: Verdana, 'Geneva', 'DejaVu Sans', sans-serif;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  margin-top: 1em;
  margin-bottom: 0.1em;
}

@plugin 'daisyui' {
  themes: bumblebee --default, sunset --prefersdark;
}
